<template name="home">
    <div class="row #0d47a1 blue darken-4">
        <div class="col s12 "><span class="flow-text">
    <center><h1>NFL PICK'EM</h1></center>
          </span></div>

        <div class="col s6"><span class="flow-text">  
          <center>{{> loginButtons}} 
             
          </center>
          </span></div>
    </div>
    {{#if currentUser}}

    <div class="col s6 #0d47a1 blue darken-4"><span class="flow-text">  
        <center> <p><a href="/profile">Your Profile page</a></p></center>  
        <center>YOUR FAVORITE TEAM IS THE RAIDERS</center>
          <center>Your the game master</center>
            </span></div>


    <center>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 1</h5>
            <p><a href="/week1">Check out this weeks games</a></p>
            <p><a href="/week1results">Check out this weeks results</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 2</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 3</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 4</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 5</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 6</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 7</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 8</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 9</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 10</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 11</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 12</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 13</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 14</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 15</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
        <div class="divider"></div>
        <div class="section #0d47a1 blue darken-4">
            <h5>Week 16</h5>
            <p><a href=" ">Check out this weeks games</a></p>
        </div>
    </center>

    {{/if}}
</template>

<template name="profile">
      <div class="col s12 #0d47a1 blue darken-4 ">
        <span class="flow-text">
        <center><h1>NFL PICK'EM</h1></center>
        </span>
    </div>
    <div class="col s6 #0d47a1 blue darken-4"><span class="flow-text">  
          <center>YOUR FAVORITE TEAM IS THE RAIDERS</center>
            <center><p>Your record is 1-0</p></center>
            
            </span></div>
</template>

<template name="week1">
    <div class="divider">
    </div>
    <div class="col s12 #0d47a1 blue darken-4 ">
        <span class="flow-text">
        <center><h1>NFL PICK'EM</h1></center>
        </span>
    </div>
    <div class="col s6 #0d47a1 blue darken-4">
        <span class="flow-text">  
          <center>{{> loginButtons}} </center>
        </span>
    </div>

    <div class="section #0d47a1 blue darken-4">
        <center>
            <h3>WEEK 1 Games</h3></center>
        <form class="week1" action="#">
            <p>
                <center>
                    <input name="team1" type="radio" id="team1" />
                    <label for="team1">Patriots</label>
                </center>
            </p>
            <p>
                <center>
                    <input name="team1" type="radio" id="team2" />
                    <label for="team2">Steelers</label>
                </center>
            </p>
            <center><a class="waves-effect waves-light btn">Submit</a></center>
        </form>
    </div>
</template>

<template name="week1results">
    <div class="divider">
    </div>
    <div class="col s12 #0d47a1 blue darken-4 ">
        <span class="flow-text">
        <center><h1>NFL PICK'EM</h1></center>
        </span>
    </div>
    <div class="col s6 #0d47a1 blue darken-4">
        <span class="flow-text">  
          <center>{{> loginButtons}} </center>
        </span>
    </div>

    <div class="section #0d47a1 blue darken-4">
        <center>
            <h3>WEEK 1 Game Results</h3></center>
        <center>
            <h5>Patriots(1-0) defeated Steelers(0-1) 28-21</h5></center>
    </div>
</template>